<div class="container">
<h4>User Profile</h4>

<div class="">
        <table class="table table-striped table-bordered table-sm row-border hover">
            <tr>
                <td class="rowhead">Staff ID</td>
                <td>{{staff.staffId}}</td>
                <td class="rowhead">Staff Name</td>
                <td>{{staff.staffName}}</td>
            </tr>
            <tr>
                <td class="rowhead">Position</td>
                <td>{{staff.position}}</td>
                <td class="rowhead">Department</td>
                <td>{{staff.department}}</td>
            </tr>
            <tr>
                <td class="rowhead">Branch</td>
                <td>{{staff.branchId}}</td>
                <td class="rowhead">Rank</td>
                <td>{{staff.rank}}</td>
            </tr>
        </table>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
</div>
</div>
